<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Math Challenge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="title">Mental Math Challenge</h1>

        <div class="score">
            <h3>Your Score: <span id="score">Score: {{ score }}</span></h3>
        </div>

        <div id="problem-text" class="problem-text">
            <h3>Math Problem:</h3>
            <p>{{ question }}</p>
        </div>

        <form class="controls">
            <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
            <input type="text" id="answer" name="answer" placeholder="Enter your answer" class="answer-input"
                required />
            <button type="submit" id="submit-btn" class="styled-button">Submit Answer</button>
        </form>

        <div class="controls">
            <button id="show-trick-btn" class="styled-button">Show Trick</button>
        </div>

        <div id="trick" class="trick"></div>

        <div class="controls">
            <form action="/reset" method="GET">
                <button type="submit" class="styled-button">Reset Game</button>
            </form>
        </div>

        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='anime.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>